*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #eaf0fa;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    padding: 1em;
    max-width: 500px;
    width: 375px;
    background-color: #fff;
    border-radius: 1em;
}


.box-img{
    max-width: 100%;
    border-radius: .7em;
}

.box-info{
    text-align: center;
    margin: 1em;
}

.box-heading{
    font-size: 1.7rem;
    font-weight: 700;
    color: #1f3251;
}

.box-text{
    font-size: 1.2rem;
    font-weight: 400;
    color: 	#7b879d;
    margin-top: 1em;
}

.attribution {
    font-size: .7rem; 
    text-align: center;
    padding: .2em 0;
}

.attribution a { 
    color: #3e52a3;
    text-decoration: none; 
}

.attribution a:hover,
.attribution a:focus{
    color: 	#7b879d;
}